<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>My Vue App</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div id="app" class="container">

        <h1>{{ title.toUpperCase() }}</h1>
        <a href="" id="restart" v-bind:class="{ inactive:game_time==0 }" >RESTART</a>
        <!-- <span class="info">{{ remaining.length }}/{{ cards.length }}</span> -->
        <!-- <button @click="purge">Purge</button> -->
        <!-- <p>
        <input type="text" v-model="title">
      </p> -->
        <!-- <p>Total Likes: {{ total }}</p> -->
        <!-- <star-component ></star-component> -->
        <!-- <star-component message="star++"></star-component> -->
        <!-- <star-component message="star+++"></star-component> -->
        <div class="container">
            <div id="game_time">{{game_time}}</div>
            <div id="stage">
                <!-- <div class="" v-if="cards.length"> -->
                <!-- <div class="card_container" v-for="(card, index) in cards"> -->
                <div class="" v-for="(card, index) in cards">
                    <!-- {{ index }} -->
                    <card_component v-bind:back="card.back" v-bind:front="card.front" v-bind:is_open="card.is_open" v-bind:is_done="card.is_done"
                    @clicked="flipCard(card)" @flipped="checkCards()"></card_component>

                </div>
                <!-- </div>
        <div v-else>
          <p>Nothing to do :)</p>
        </div> -->
            </div>
            <div id="result">
                <!-- <div class="" v-for="(word, index) in completed_cards">
                    {{index}}
                    <word-component v-bind:back="word.back" v-bind:front="word.front"></word-component> 
                </div> -->
            </div>
            <div id="debug_monitor" v-show="is_debug">
                <p>Debug Monitor</p>
                <hr>
                <p>flipped_cards</p>
                <div class="" v-for="(card, index) in flipped_cards">
                    {{card}}
                </div>
                <p>completed_cards</p>
                <div class="" v-for="(word, index) in completed_cards">
                    {{word}}
                </div>
            </div>
        </div>
        <!--//// container  -->

        <!-- <form @submit.prevent="addItem">
        <input type="text" v-model="new_item">
        <input type="submit" value="Add">
      </form> -->

    </div>

    <script type="text/x-template" id="card_component">
        <div class="card_container">
            <div class="card" :class="{open:is_open}" 
            @click="clickCard()" @transitionend="cardFlipped()">
                <div class="card_front" :class="{done:is_done}">
                    <template v-for="(word, index) in back">
                        <div v-if="index==0" class="main_word">
                            {{ word }}
                        </div>
                        <div v-else class="sub_word">
                            {{ word }}
                        </div>
                    </template>
                    <!-- <input type="checkbox" v-model="card.isDone">-->
                    <!-- <span :class="{done: card.isDone}">{{ card.title }}</span> -->
                    <!-- <like-component @increment="incrementTotal"></like-component> -->
                    <!--<span @click="deleteItem(index)" class="command">[x]</span> -->
                </div>
                <div class="card_back">
                    <div class="card_back_text">{{ front }}</div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/x-template" id="word-component">
        <div class="word-container">
        <div class="word">
          <div class="card_front">
            {{ back[0] }}

            <!-- <input type="checkbox" v-model="card.isDone">-->
            <!-- <span :class="{done: card.isDone}">{{ card.title }}</span> -->
            <!-- <like-component @increment="incrementTotal"></like-component> -->
            <!--<span @click="deleteItem(index)" class="command">[x]</span> -->
          </div>
          <div class="card_back">
            {{ front }}
            <!-- {{ is_open }} -->
          </div>
        </div>
      </div>
    </script>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/main.js"></script>
</body>

</html>